{
  "name": "latte",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7892,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/home/ryo-naganuma/www/ryo-naganuma/wp-content/themes/latte/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ryo-naganuma.sakura.ne.jp",
      "port": 21,
      "user": "ryo-naganuma",
      "password": "y9m3uf43f3"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "style.css",
        "ctime": "2019-02-20T04:46:23.085Z",
        "mtime": "2019-02-20T04:46:23.085Z",
        "size": 54107
      },
      {
        "file": "archive-blog.php",
        "ctime": "2019-02-19T03:23:50.102Z",
        "mtime": "2019-02-19T03:23:50.102Z",
        "size": 2881
      },
      {
        "file": "archive-works.php",
        "ctime": "2018-12-26T03:51:41.478Z",
        "mtime": "2018-12-26T03:51:41.478Z",
        "size": 5640
      },
      {
        "file": "archive.php",
        "ctime": "2018-11-12T09:36:47.945Z",
        "mtime": "2018-11-12T09:36:47.945Z",
        "size": 1430
      },
      {
        "file": "assets/bootstrap/LICENSE",
        "ctime": "2018-11-12T09:36:47.957Z",
        "mtime": "2018-11-12T09:36:47.957Z",
        "size": 1084
      },
      {
        "file": "assets/css/editor-style.css",
        "ctime": "2018-11-12T09:36:47.968Z",
        "mtime": "2018-11-12T09:36:47.968Z",
        "size": 1253
      },
      {
        "file": "assets/images/287x230.png",
        "ctime": "2018-11-12T09:36:47.971Z",
        "mtime": "2018-11-12T09:36:47.971Z",
        "size": 6578
      },
      {
        "file": "assets/images/383x383.png",
        "ctime": "2018-11-12T09:36:47.975Z",
        "mtime": "2018-11-12T09:36:47.975Z",
        "size": 8453
      },
      {
        "file": "assets/images/avatar.jpg",
        "ctime": "2018-11-12T09:36:47.974Z",
        "mtime": "2018-11-12T09:36:47.974Z",
        "size": 216178
      },
      {
        "file": "assets/images/background.jpg",
        "ctime": "2018-11-12T09:36:47.973Z",
        "mtime": "2018-11-12T09:36:47.973Z",
        "size": 884466
      },
      {
        "file": "assets/images/blog.jpg",
        "ctime": "2018-11-28T07:04:08.376Z",
        "mtime": "2018-11-28T07:04:08.342Z",
        "size": 821966
      },
      {
        "file": "assets/images/loader.gif",
        "ctime": "2018-11-12T09:36:47.973Z",
        "mtime": "2018-11-12T09:36:47.973Z",
        "size": 31066
      },
      {
        "file": "assets/images/_bk_blog.jpg",
        "ctime": "2018-11-28T06:55:23.097Z",
        "mtime": "2018-11-12T09:36:47.975Z",
        "size": 559840
      },
      {
        "file": "assets/js/barba-custom.js",
        "ctime": "2018-12-03T01:41:20.747Z",
        "mtime": "2018-12-03T01:41:20.747Z",
        "size": 4713
      },
      {
        "file": "assets/js/classie.js",
        "ctime": "2018-11-12T09:36:47.981Z",
        "mtime": "2018-11-12T09:36:47.981Z",
        "size": 1656
      },
      {
        "file": "assets/js/jquery.inview.min.js",
        "ctime": "2018-11-12T10:36:26.443Z",
        "mtime": "2017-07-29T00:09:24.000Z",
        "size": 1438
      },
      {
        "file": "assets/js/jquery.matchHeight.js",
        "ctime": "2018-11-12T09:36:47.983Z",
        "mtime": "2018-11-12T09:36:47.983Z",
        "size": 6976
      },
      {
        "file": "assets/js/parallax.js",
        "ctime": "2018-11-12T09:36:47.981Z",
        "mtime": "2018-11-12T09:36:47.981Z",
        "size": 10791
      },
      {
        "file": "assets/js/parallax.min.js",
        "ctime": "2018-11-12T09:36:47.983Z",
        "mtime": "2018-11-12T09:36:47.983Z",
        "size": 6073
      },
      {
        "file": "assets/js/scripts.js",
        "ctime": "2018-11-27T09:34:31.383Z",
        "mtime": "2018-11-27T09:34:31.383Z",
        "size": 2880
      },
      {
        "file": "assets/js/scrollReveal.js",
        "ctime": "2018-11-12T09:36:47.982Z",
        "mtime": "2018-11-12T09:36:47.982Z",
        "size": 18903
      },
      {
        "file": "assets/js/scrollReveal.min.js",
        "ctime": "2018-11-12T09:36:47.982Z",
        "mtime": "2018-11-12T09:36:47.982Z",
        "size": 8564
      },
      {
        "file": "assets/js/skills.js",
        "ctime": "2018-11-12T09:36:47.982Z",
        "mtime": "2018-11-12T09:36:47.982Z",
        "size": 219
      },
      {
        "file": "assets/js/upsell.js",
        "ctime": "2018-11-12T09:36:47.982Z",
        "mtime": "2018-11-12T09:36:47.982Z",
        "size": 421
      },
      {
        "file": "assets/bootstrap/css/bootstrap-theme.css",
        "ctime": "2018-11-12T09:36:47.961Z",
        "mtime": "2018-11-12T09:36:47.960Z",
        "size": 22608
      },
      {
        "file": "assets/bootstrap/css/bootstrap-theme.min.css",
        "ctime": "2018-11-12T09:36:47.961Z",
        "mtime": "2018-11-12T09:36:47.961Z",
        "size": 19963
      },
      {
        "file": "assets/bootstrap/css/bootstrap.css",
        "ctime": "2018-11-12T09:36:47.960Z",
        "mtime": "2018-11-12T09:36:47.960Z",
        "size": 141622
      },
      {
        "file": "assets/bootstrap/css/bootstrap.min.css",
        "ctime": "2018-11-12T09:36:47.960Z",
        "mtime": "2018-11-12T09:36:47.960Z",
        "size": 117305
      },
      {
        "file": "assets/bootstrap/fonts/glyphicons-halflings-regular.eot",
        "ctime": "2018-11-12T09:36:47.966Z",
        "mtime": "2018-11-12T09:36:47.966Z",
        "size": 20127
      },
      {
        "file": "assets/bootstrap/fonts/glyphicons-halflings-regular.svg",
        "ctime": "2018-11-12T09:36:47.967Z",
        "mtime": "2018-11-12T09:36:47.967Z",
        "size": 108738
      },
      {
        "file": "assets/bootstrap/fonts/glyphicons-halflings-regular.ttf",
        "ctime": "2018-11-12T09:36:47.967Z",
        "mtime": "2018-11-12T09:36:47.967Z",
        "size": 45404
      },
      {
        "file": "assets/bootstrap/fonts/glyphicons-halflings-regular.woff",
        "ctime": "2018-11-12T09:36:47.966Z",
        "mtime": "2018-11-12T09:36:47.966Z",
        "size": 23424
      },
      {
        "file": "assets/bootstrap/fonts/glyphicons-halflings-regular.woff2",
        "ctime": "2018-11-12T09:36:47.966Z",
        "mtime": "2018-11-12T09:36:47.966Z",
        "size": 18028
      },
      {
        "file": "assets/bootstrap/js/bootstrap.js",
        "ctime": "2018-11-12T09:36:47.963Z",
        "mtime": "2018-11-12T09:36:47.963Z",
        "size": 67546
      },
      {
        "file": "assets/bootstrap/js/bootstrap.min.js",
        "ctime": "2018-11-12T09:36:47.963Z",
        "mtime": "2018-11-12T09:36:47.963Z",
        "size": 35951
      },
      {
        "file": "assets/bootstrap/js/npm.js",
        "ctime": "2018-11-12T09:36:47.963Z",
        "mtime": "2018-11-12T09:36:47.963Z",
        "size": 484
      },
      {
        "file": "assets/font-awesome/css/font-awesome.css",
        "ctime": "2018-11-12T09:36:47.987Z",
        "mtime": "2018-11-12T09:36:47.987Z",
        "size": 35134
      },
      {
        "file": "assets/font-awesome/css/font-awesome.min.css",
        "ctime": "2018-11-30T08:01:38.760Z",
        "mtime": "2018-11-30T08:01:38.760Z",
        "size": 29063
      },
      {
        "file": "assets/font-awesome/fonts/fontawesome-webfont.eot",
        "ctime": "2018-11-12T09:36:47.993Z",
        "mtime": "2018-11-12T09:36:47.993Z",
        "size": 76518
      },
      {
        "file": "assets/font-awesome/fonts/fontawesome-webfont.svg",
        "ctime": "2018-11-12T09:36:47.991Z",
        "mtime": "2018-11-12T09:36:47.991Z",
        "size": 391622
      },
      {
        "file": "assets/font-awesome/fonts/fontawesome-webfont.ttf",
        "ctime": "2018-11-12T09:36:47.993Z",
        "mtime": "2018-11-12T09:36:47.993Z",
        "size": 152796
      },
      {
        "file": "assets/font-awesome/fonts/fontawesome-webfont.woff",
        "ctime": "2018-11-12T09:36:47.993Z",
        "mtime": "2018-11-12T09:36:47.993Z",
        "size": 90412
      },
      {
        "file": "assets/font-awesome/fonts/fontawesome-webfont.woff2",
        "ctime": "2018-11-12T09:36:47.992Z",
        "mtime": "2018-11-12T09:36:47.992Z",
        "size": 71896
      },
      {
        "file": "assets/font-awesome/fonts/FontAwesome.otf",
        "ctime": "2018-11-12T09:36:47.992Z",
        "mtime": "2018-11-12T09:36:47.992Z",
        "size": 124988
      },
      {
        "file": "attachment.php",
        "ctime": "2018-11-12T09:36:47.952Z",
        "mtime": "2018-11-12T09:36:47.952Z",
        "size": 1060
      },
      {
        "file": "comments.php",
        "ctime": "2018-11-12T09:36:47.945Z",
        "mtime": "2018-11-12T09:36:47.945Z",
        "size": 3396
      },
      {
        "file": "content-aside.php",
        "ctime": "2018-11-12T09:36:47.949Z",
        "mtime": "2018-11-12T09:36:47.949Z",
        "size": 1309
      },
      {
        "file": "content-attachment.php",
        "ctime": "2018-11-12T09:36:47.950Z",
        "mtime": "2018-11-12T09:36:47.950Z",
        "size": 364
      },
      {
        "file": "content-chat.php",
        "ctime": "2018-11-12T09:36:47.947Z",
        "mtime": "2018-11-12T09:36:47.947Z",
        "size": 1900
      },
      {
        "file": "content-link.php",
        "ctime": "2018-11-12T09:36:47.951Z",
        "mtime": "2018-11-12T09:36:47.951Z",
        "size": 1688
      },
      {
        "file": "content-none.php",
        "ctime": "2018-11-12T09:36:47.945Z",
        "mtime": "2018-11-12T09:36:47.945Z",
        "size": 365
      },
      {
        "file": "content-page.php",
        "ctime": "2018-11-12T09:36:47.945Z",
        "mtime": "2018-11-12T09:36:47.945Z",
        "size": 432
      },
      {
        "file": "content-quote.php",
        "ctime": "2018-11-12T09:36:47.950Z",
        "mtime": "2018-11-12T09:36:47.950Z",
        "size": 1805
      },
      {
        "file": "content-status.php",
        "ctime": "2018-11-12T09:36:47.945Z",
        "mtime": "2018-11-12T09:36:47.945Z",
        "size": 1550
      },
      {
        "file": "content-video.php",
        "ctime": "2018-11-12T09:36:47.949Z",
        "mtime": "2018-11-12T09:36:47.949Z",
        "size": 1912
      },
      {
        "file": "content.php",
        "ctime": "2018-11-12T09:36:47.947Z",
        "mtime": "2018-11-12T09:36:47.947Z",
        "size": 1805
      },
      {
        "file": "documentation/Latte Documentation.pdf",
        "ctime": "2018-11-12T09:36:47.925Z",
        "mtime": "2018-11-12T09:36:47.925Z",
        "size": 418259
      },
      {
        "file": "favicon.ico",
        "ctime": "2018-12-26T11:30:23.373Z",
        "mtime": "2018-12-26T11:29:32.877Z",
        "size": 9662
      },
      {
        "file": "footer.php",
        "ctime": "2019-02-08T11:40:40.068Z",
        "mtime": "2019-02-08T11:40:40.068Z",
        "size": 730
      },
      {
        "file": "functions.php",
        "ctime": "2019-02-19T10:27:45.322Z",
        "mtime": "2019-02-19T10:27:45.322Z",
        "size": 11836
      },
      {
        "file": "header.php",
        "ctime": "2019-02-20T04:47:22.811Z",
        "mtime": "2019-02-20T04:47:22.811Z",
        "size": 1398
      },
      {
        "file": "images/bg_love2.jpg",
        "ctime": "2018-12-20T06:54:55.241Z",
        "mtime": "2018-11-29T07:37:48.323Z",
        "size": 86608
      },
      {
        "file": "images/bg_love3.jpg",
        "ctime": "2018-12-20T08:18:45.117Z",
        "mtime": "2018-12-20T08:08:46.938Z",
        "size": 506253
      },
      {
        "file": "images/bg_pc.png",
        "ctime": "2018-12-25T01:52:08.739Z",
        "mtime": "2018-12-21T02:28:10.000Z",
        "size": 8435
      },
      {
        "file": "images/bg_sp.png",
        "ctime": "2018-12-21T11:30:13.403Z",
        "mtime": "2018-12-21T02:28:52.000Z",
        "size": 22893
      },
      {
        "file": "images/blog01.png",
        "ctime": "2018-12-26T05:54:16.355Z",
        "mtime": "2018-12-26T05:52:46.680Z",
        "size": 2195431
      },
      {
        "file": "images/blog02.jpg",
        "ctime": "2019-01-17T08:52:06.786Z",
        "mtime": "2019-01-17T08:52:06.526Z",
        "size": 61115
      },
      {
        "file": "images/cursor.cur",
        "ctime": "2018-11-28T01:44:52.707Z",
        "mtime": "2018-11-28T01:43:59.197Z",
        "size": 4286
      },
      {
        "file": "images/icn_target.png",
        "ctime": "2018-12-25T02:23:10.484Z",
        "mtime": "2018-12-25T02:23:10.318Z",
        "size": 1064
      },
      {
        "file": "images/love1-1.jpg",
        "ctime": "2018-12-19T08:41:55.714Z",
        "mtime": "2018-12-19T08:41:55.599Z",
        "size": 447265
      },
      {
        "file": "images/love1-2.jpg",
        "ctime": "2018-12-19T08:51:19.691Z",
        "mtime": "2018-12-19T08:51:19.555Z",
        "size": 192542
      },
      {
        "file": "images/love2-1.jpg",
        "ctime": "2018-12-20T03:33:04.960Z",
        "mtime": "2018-12-20T03:33:04.784Z",
        "size": 1015257
      },
      {
        "file": "images/love2-2.jpg",
        "ctime": "2018-12-19T10:04:23.646Z",
        "mtime": "2018-12-19T10:04:23.407Z",
        "size": 134420
      },
      {
        "file": "images/love3-1.jpg",
        "ctime": "2018-12-20T08:03:07.493Z",
        "mtime": "2018-12-20T08:03:07.317Z",
        "size": 954976
      },
      {
        "file": "images/love3-2.jpg",
        "ctime": "2018-12-20T08:10:54.258Z",
        "mtime": "2018-12-20T08:10:54.063Z",
        "size": 731847
      },
      {
        "file": "images/main.jpg",
        "ctime": "2019-02-14T12:32:18.619Z",
        "mtime": "2019-02-14T12:32:18.437Z",
        "size": 251027
      },
      {
        "file": "images/works01.png",
        "ctime": "2018-12-25T10:14:42.686Z",
        "mtime": "2018-12-19T06:19:19.814Z",
        "size": 396221
      },
      {
        "file": "images/works01_sp.png",
        "ctime": "2018-12-25T02:01:06.740Z",
        "mtime": "2018-12-25T01:59:59.206Z",
        "size": 363958
      },
      {
        "file": "inc/customizer/category-dropdown-custom-control.php",
        "ctime": "2018-11-12T09:36:47.931Z",
        "mtime": "2018-11-12T09:36:47.931Z",
        "size": 1109
      },
      {
        "file": "inc/customizer/custom-css.php",
        "ctime": "2018-11-12T09:36:47.931Z",
        "mtime": "2018-11-12T09:36:47.931Z",
        "size": 3296
      },
      {
        "file": "inc/customizer/customizer-preview.js",
        "ctime": "2018-11-12T09:36:47.930Z",
        "mtime": "2018-11-12T09:36:47.930Z",
        "size": 9596
      },
      {
        "file": "inc/customizer/customizer.js",
        "ctime": "2018-11-12T09:36:47.931Z",
        "mtime": "2018-11-12T09:36:47.931Z",
        "size": 609
      },
      {
        "file": "inc/customizer/customizer.php",
        "ctime": "2018-11-12T09:36:47.931Z",
        "mtime": "2018-11-12T09:36:47.931Z",
        "size": 33408
      },
      {
        "file": "inc/other/font-awesome.php",
        "ctime": "2018-11-12T09:36:47.936Z",
        "mtime": "2018-11-12T09:36:47.936Z",
        "size": 17331
      },
      {
        "file": "inc/other/post-formats.php",
        "ctime": "2018-11-12T09:36:47.936Z",
        "mtime": "2018-11-12T09:36:47.936Z",
        "size": 9548
      },
      {
        "file": "inc/widgets/latte-services.php",
        "ctime": "2018-11-12T09:36:47.944Z",
        "mtime": "2018-11-12T09:36:47.944Z",
        "size": 6790
      },
      {
        "file": "inc/widgets/latte-skills.php",
        "ctime": "2018-11-12T09:36:47.944Z",
        "mtime": "2018-11-12T09:36:47.944Z",
        "size": 5178
      },
      {
        "file": "inc/admin/welcome-screen/welcome-screen.php",
        "ctime": "2018-11-12T09:36:47.940Z",
        "mtime": "2018-11-12T09:36:47.940Z",
        "size": 2091
      },
      {
        "file": "inc/customizer/alpha-control/alpha-control.php",
        "ctime": "2018-11-12T09:36:47.935Z",
        "mtime": "2018-11-12T09:36:47.934Z",
        "size": 2353
      },
      {
        "file": "inc/customizer/alpha-control/alpha_control.css",
        "ctime": "2018-11-12T09:36:47.934Z",
        "mtime": "2018-11-12T09:36:47.934Z",
        "size": 1230
      },
      {
        "file": "inc/customizer/alpha-control/alpha_control.js",
        "ctime": "2018-11-12T09:36:47.934Z",
        "mtime": "2018-11-12T09:36:47.934Z",
        "size": 3314
      },
      {
        "file": "inc/customizer/alpha-control/transparency-grid.png",
        "ctime": "2018-11-12T09:36:47.934Z",
        "mtime": "2018-11-12T09:36:47.934Z",
        "size": 2646
      },
      {
        "file": "inc/admin/welcome-screen/content/content.php",
        "ctime": "2018-11-12T09:36:47.941Z",
        "mtime": "2018-11-12T09:36:47.941Z",
        "size": 5094
      },
      {
        "file": "inc/admin/welcome-screen/css/welcome.css",
        "ctime": "2018-11-12T09:36:47.940Z",
        "mtime": "2018-11-12T09:36:47.940Z",
        "size": 2751
      },
      {
        "file": "inc/admin/welcome-screen/img/Latte.png",
        "ctime": "2018-11-12T09:36:47.943Z",
        "mtime": "2018-11-12T09:36:47.942Z",
        "size": 478409
      },
      {
        "file": "index.php",
        "ctime": "2019-02-20T09:39:27.393Z",
        "mtime": "2019-02-20T09:39:27.393Z",
        "size": 9222
      },
      {
        "file": "languages/latte.pot",
        "ctime": "2018-11-12T09:36:47.949Z",
        "mtime": "2018-11-12T09:36:47.948Z",
        "size": 18659
      },
      {
        "file": "license.txt",
        "ctime": "2018-11-12T09:36:47.952Z",
        "mtime": "2018-11-12T09:36:47.952Z",
        "size": 14994
      },
      {
        "file": "page-about.php",
        "ctime": "2019-02-20T09:39:52.708Z",
        "mtime": "2019-02-20T09:39:52.708Z",
        "size": 17247
      },
      {
        "file": "page.php",
        "ctime": "2018-11-12T09:36:47.952Z",
        "mtime": "2018-11-12T09:36:47.951Z",
        "size": 1162
      },
      {
        "file": "psd/favicon.psd",
        "ctime": "2018-12-26T11:28:01.679Z",
        "mtime": "2018-12-26T11:28:01.616Z",
        "size": 60448
      },
      {
        "file": "psd/loves.psd",
        "ctime": "2018-11-29T08:50:47.440Z",
        "mtime": "2018-11-29T08:50:46.492Z",
        "size": 6799171
      },
      {
        "file": "README.md",
        "ctime": "2018-11-12T09:36:47.949Z",
        "mtime": "2018-11-12T09:36:47.949Z",
        "size": 3872
      },
      {
        "file": "readme.txt",
        "ctime": "2018-11-12T09:36:47.951Z",
        "mtime": "2018-11-12T09:36:47.951Z",
        "size": 3872
      },
      {
        "file": "screenshot.png",
        "ctime": "2018-11-12T09:36:47.947Z",
        "mtime": "2018-11-12T09:36:47.947Z",
        "size": 444681
      },
      {
        "file": "search.php",
        "ctime": "2018-11-12T09:36:47.947Z",
        "mtime": "2018-11-12T09:36:47.947Z",
        "size": 1580
      },
      {
        "file": "searchform.php",
        "ctime": "2018-11-12T09:36:47.994Z",
        "mtime": "2018-11-12T09:36:47.994Z",
        "size": 544
      },
      {
        "file": "sections/about.php",
        "ctime": "2018-11-12T09:36:47.923Z",
        "mtime": "2018-11-12T09:36:47.923Z",
        "size": 2915
      },
      {
        "file": "sections/blogposts.php",
        "ctime": "2018-11-12T09:36:47.922Z",
        "mtime": "2018-11-12T09:36:47.922Z",
        "size": 2426
      },
      {
        "file": "sections/intro.php",
        "ctime": "2018-11-12T09:36:47.922Z",
        "mtime": "2018-11-12T09:36:47.922Z",
        "size": 1306
      },
      {
        "file": "sections/services.php",
        "ctime": "2018-11-12T09:36:47.922Z",
        "mtime": "2018-11-12T09:36:47.922Z",
        "size": 3042
      },
      {
        "file": "sections/skills.php",
        "ctime": "2018-11-12T09:36:47.923Z",
        "mtime": "2018-11-12T09:36:47.923Z",
        "size": 2751
      },
      {
        "file": "sections/social.php",
        "ctime": "2018-11-12T09:36:47.923Z",
        "mtime": "2018-11-12T09:36:47.923Z",
        "size": 6784
      },
      {
        "file": "sections/subscribe.php",
        "ctime": "2018-11-12T09:36:47.922Z",
        "mtime": "2018-11-12T09:36:47.922Z",
        "size": 1085
      },
      {
        "file": "sidebar.php",
        "ctime": "2018-11-12T09:36:47.994Z",
        "mtime": "2018-11-12T09:36:47.994Z",
        "size": 180
      },
      {
        "file": "single-blog.php",
        "ctime": "2019-02-13T10:46:54.871Z",
        "mtime": "2019-02-13T10:46:54.871Z",
        "size": 2309
      },
      {
        "file": "single.php",
        "ctime": "2018-11-12T09:36:47.951Z",
        "mtime": "2018-11-12T09:36:47.951Z",
        "size": 1716
      },
      {
        "file": "template-blog.php",
        "ctime": "2018-11-12T09:36:47.994Z",
        "mtime": "2018-11-12T09:36:47.994Z",
        "size": 1471
      },
      {
        "file": "template-home.php",
        "ctime": "2018-11-12T09:36:47.944Z",
        "mtime": "2018-11-12T09:36:47.944Z",
        "size": 1931
      },
      {
        "file": "woocommerce.php",
        "ctime": "2018-11-12T09:36:47.946Z",
        "mtime": "2018-11-12T09:36:47.946Z",
        "size": 993
      },
      {
        "file": "wpml-config.xml",
        "ctime": "2018-11-12T09:36:47.947Z",
        "mtime": "2018-11-12T09:36:47.947Z",
        "size": 883
      },
      {
        "file": "images/icn_instagram.png",
        "ctime": "2019-02-06T08:43:32.125Z",
        "mtime": "2019-02-06T08:43:32.020Z",
        "size": 4998
      },
      {
        "file": "images/icn_facebook.png",
        "ctime": "2019-02-06T08:43:51.621Z",
        "mtime": "2019-02-06T08:43:51.452Z",
        "size": 5675
      },
      {
        "file": "images/icn_twitter.png",
        "ctime": "2019-02-06T08:44:06.032Z",
        "mtime": "2019-02-06T08:44:05.913Z",
        "size": 12553
      },
      {
        "file": "images/icon_02.jpg",
        "ctime": "2019-02-12T11:19:46.828Z",
        "mtime": "2019-02-12T11:19:46.718Z",
        "size": 321526
      },
      {
        "file": "taxonomy-blogcategory.php",
        "ctime": "2019-02-14T01:25:27.415Z",
        "mtime": "2019-02-14T01:25:27.415Z",
        "size": 3656
      },
      {
        "file": "images/blog03.jpg",
        "ctime": "2019-02-13T13:17:49.286Z",
        "mtime": "2019-02-13T13:17:49.005Z",
        "size": 151248
      },
      {
        "file": "images/blog05.jpg",
        "ctime": "2019-02-19T04:01:46.599Z",
        "mtime": "2019-02-19T04:01:23.041Z",
        "size": 67576
      },
      {
        "file": "images/bg_top.png",
        "ctime": "2019-02-20T03:28:26.707Z",
        "mtime": "2019-02-20T03:27:33.135Z",
        "size": 16747
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}